In [8]:
#1. Countdown - Create a function that accepts a number as an input. 
#Return a new list that counts down by one, from the number (as the 0th element) down to 0 (as the last element).
#Example: countdown(5) should return the list: [5,4,3,2,1,0]

def Countdown(n):
  mylist= list()
  n=n+1
  for i in range(n):
    n=n-1
    mylist.append(n)
  print(mylist)

Countdown(5)

[5, 4, 3, 2, 1, 0]

In [13]:
"""
2. Print and Return - Create a function that will receive a list with two numbers. Print the first value and return the second.

Example: print_and_return([1,2]) should print 1 and return 2
"""
def print_and_return(n):
  #print first element
  print(n[0])
  #return last element
  return(n[len(n)-1])
  

print_and_return([1,2])

1

2

In [24]:
"""
3. First Plus Length - Create a function that accepts a list and returns the sum of the first value in the list plus the list's length.

Example: first_plus_length([1,2,3,4,5]) should return 6 (first value: 1 + length: 5)

"""
def first_plus_length(n):

  x=n[0]
  y=len(n)
  print(x+y)


first_plus_length([1,2,3,4,5])

6

In [26]:
"""
4. This Length, That Value - Write a function that accepts two integers as parameters: size and value.
The function should create and return a list whose length is equal to the given size, and whose values are all the given value.

Example: length_and_value(4,7) should return [7,7,7,7]
Example: length_and_value(6,2) should return [2,2,2,2,2,2]
"""
def length_and_value(n1,n2):
  mylist=[]
  for i in range(n1):
    mylist.append(n2)
  print(mylist)


length_and_value(4,7)
length_and_value(6,2)

[7, 7, 7, 7]
[2, 2, 2, 2, 2, 2]

In [44]:
"""
5. Values Greater than Second (Optional) -
 Write a function that accepts a list and creates a new list containing only the values from the original list that are greater than its 2nd value. 
 Print how many values this is and then return the new list.
  If the list has less than 2 elements, have the function return False.
Example: values_greater_than_second([5,2,3,2,1,4]) should print 3 and return [5,3,4]
Example: values_greater_than_second([3]) should return False
"""
def values_greater_than_second(l):
  mylist=[]
  for i in l:
    if(len(l)>1):
      x=l[1]
      if (i>x):
        mylist.append(i)
    else:
      return(False)
  print(len(mylist))
  print(mylist)

values_greater_than_second([5,2,3,2,1,4])
values_greater_than_second([3])

3
[5, 3, 4]

False